# 🔧 Tool: sql

**Dataset:** titanic
**난이도:** 하

**Q.** 성별별 승객 수를 출력하는 SELECT 쿼리를 작성하세요.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("titanic")
dataset.head(1)

# 🔧 Tool: sql

**Dataset:** tips
**난이도:** 중하

**Q.** Survived 열에 따라 승객의 수를 카운트하세요.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("tips")
dataset.head(1)

# 🔧 Tool: sql

**Dataset:** tips
**난이도:** 하

**Q.** 성별별 승객 수를 출력하는 SELECT 쿼리를 작성하세요.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("tips")
dataset.head(1)

# 🔧 Tool: sql

**Dataset:** tips
**난이도:** 중

**Q.** 성별별 생존율을 구하세요.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("tips")
dataset.head(1)

# 🔧 Tool: sql

**Dataset:** 칼럼 제거
**난이도:** 하

**Q.** 성별을 제외한 열을 출력하세요.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("칼럼 제거")
dataset.head(1)

# 🔧 Tool: sql

**Dataset:** 묵시적 형 변환
**난이도:** 중하

**Q.** 성별을 숫자로 변환하여 출력하세요.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("묵시적 형 변환")
dataset.head(1)

# 🔧 Tool: sql

**Dataset:** penguins
**난이도:** 하

**Q.** 인른의 몸무게가 5000g 이하인

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: sql

**Dataset:** tips
**난이도:** 하

**Q.** 칵테일 바에서 가장 저렴한 음료는 무엇입니까? 가격이 가장 낮은 음료의 이름과 가격을 출력하세요.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("tips")
dataset.head(1)

# 🔧 Tool: sql

**Dataset:** tips
**난이도:** 중하

**Q.** 칵테일 바의 기본 투팍을 찾는 데 사용되는 재료는 무엇입니까? 해당 정보는 기본투팍에서 찾을 수 있습니다.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("tips")
dataset.head(1)